{% extends '/pages/base.html' %}

{% block content %}

 <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Profile</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                                                <a class="logo-name text-lg text-center">My Profile</a>
                                    <div class="panel-body">

<button type="button" class="btn btn-default btn-sm btn-block">Edit Profile</button><br>

<center><button type="button" class="btn btn-default btn-lg">Account Details</button>
<button type="button" class="btn btn-default btn-lg">Volunteering Tasks</button></center>

								</div>
                                </div>
								</div>


{% block title %}
{% endblock %}

								</div>

{% endblock %}