{% extends 'pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Error</li>
                    </ol>
                </div>
                
                <br><br>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                            
<div class="col-md-4 center">
                            <h1 class="text-xxl text-primary text-center">404</h1>
                            <div class="details">
                                <h3>Oops ! Something went wrong</h3>
                                <p>We can't find the page you're looking for. Return <a href="/">Home</a> or search.</p>
                            </div>
                        </div>
                    </div><!-- Row -->
                
            
								</div>
                                </div>
								</div>
{% endblock %}