{% extends 'pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">About</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">About Us</a>
                               <p>RUCHI is a non-political, non-profit organisation committed to the development of rural India. RUCHI began in October 1980 in a remote village in Chopal in the Shimla District. It was registered under The Societies Registration Act of 1860 in 1983, and its headquarters are now located at Bandh, a small village in the Himalayan foothills of Himachal Pradesh State, Northern India. RUCHI is now working in over 100 villages in the steep mountainous terrain of the Sirmour and Solan districts.</p>
<p>RUCHI is partnered with international non-government organisations (NGO’s), such as RNZWCS in New Zealand, Rotary International, Charities Aid Foundation, HelpAge International, U.K., MISEREOR in Germany and CCIVS in France.</p>
<p>The major focus areas for RUCHI are:</p>
<ul>
<li>Sustainable management of natural resources</li>
<li>Promotion of rural technologies</li>
<li>Health care</li>
<li>Education and awareness generation</li>
<li>Micro-credit for village projects</li>
</ul>
<p>RUCHI transfers knowledge to village communities through education and empowerment. RUCHI strongly believes that collective participatory action is required for balanced and sustainable community development.</p>
<p>Living in rugged mountainous terrain presents RUCHI with many problems and with challenging working conditions. These hurdles are overcome by working in partnership with communities to develop practical solutions to the challenges faced by rural people. RUCHI, by generating the desire in the underprivileged to improve their own living conditions, help people to live a life of dignity and self-respect.</p>
<p>The RUCHI office at Bandh is at an altitude of 900m is hot and dry in summer and cool in winter. Most people live below the poverty line, agriculture is poor, and deforestation is a chronic problem, as is the associated lack of irrigation and drinking water. Women have low social and economic status even though they provide the major strength of the village economy. There is a lack of health care and education.</p>
<p>Some of the projects being undertaken by RUCHI include watershed management in badly eroded landscapes, development of non-conventional energy sources such as bio-gas for household cooking, new technology in agriculture and related fields (horticulture and composting), community health care, and promotion of women’s groups and youth groups. RUCHI see themselves as agents of change in terms of voluntary activity.</p>
<p>Try to read RUCHI’s publication <span style="color: #0000ff;">‘<a style="color: #0000ff;" href="http://ruchin.org/catalysing_change.pdf" target="_blank" rel="noopener">Catalysing Change</a>’</span> and <span style="color: #0000ff;">‘<a style="color: #0000ff;" href="http://www.ruchi.org.in/wp-content/uploads/2014/08/Transforming-_lives.pdf">Transforming Lives</a>’</span> available under <span style="color: #0000ff;">‘<a style="color: #0000ff;" title="Publications" href="http://www.ruchi.org.in/publications/" target="_blank" rel="noopener">Publications</a>’</span> on the RUCHI website, as this will provide you with a good overview of RUCHI’s projects and aims.</p>


                               
								</div>
                                </div>
								</div>
{% endblock %}