{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active"></li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                    <br>           
<button type="button" class="btn btn-default btn-sm btn-block">Apply Now</button><br>

                                <a class="logo-name text-lg text-center">Collect Food from nearby areas</a>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">
                                    <div class="form-group">
									<label for="email"><strong>Task: </strong></label>
                                    
                                    </div>
                                    <div class="form-group">
									<label for="email"><strong> Posted: </strong></label>
                                    
                                    </div>
                                    
                                    <div class="form-group">
									<label for="email"><strong> Group: </strong></label>
                                    
                                    </div>
							
									<div class="form-group">
									<label for="number"><strong> Website: </strong></label>
                                        
                                    </div>
                                    
									<div class="form-group">
									<label for="number"><strong> Contact Info: </strong></label>
                                        
                                    </div>
                                    
									<div class="form-group">
									<label for="number"><strong> No. of Volunteers: </strong></label>
                                    </div>

									<div class="form-group">
									<label for="number"><strong>Location: </strong></label>
                                    </div>
                                
									<div class="form-group">
									<label for="number"><strong> Task Details: </strong></label>
                                    </div>
                                    
									<div class="form-group">
									<label for="number"><strong> About the Group: </strong></label>
                                    </div>
                                    
                                    </div>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}