{% extends 'pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active"></li>
                    </ol>
                </div>
								
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Food</a>
<p>If you or anyone around you need help with food requirements kindly contact any of the below mentioned helpline numbers</p> </div> </div>
								
								 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                    <div class="panel-body">
                                        
<h4>Group: </h4>
<h4>Helpline Number: </h4>
<p></p>
	</div>
                                </div></div>
<br>
<button type="button" class="btn btn-default btn-lg btn-block">Couldn't get the required help?</button>

{% endblock %}