{% extends '/pages/base.html' %}

{% block content %}
            <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
						<li class="active">Home</li>
                    </ol>
                </div>
<br>

 <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">A Platform to seek help volunteer and call out to volunteers</h4>
                                </div>
                                <div class="panel-body">
<p>To Read more about us <a href="about" >click here</a></p>
</div>
</div>
</div>

 <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <form>
<div class="form-row">
       <div class="form-group">
           <div class="col">
<label for="inputpin">LOCATION (PIN CODE)</label> 
    
<input type="number" class="form-control col-sx-4" min="6" max="6" aria-describedby="pin">
  <small id="pinHelpInline" class="text-muted">
      Not sure about Pin Code?
    </small>
    <small id="pinHelpInline" class="text-muted">
      <a href="">Click Here</a>
    </small> </div>
</div>
</div>

<div class="d-inline-">
                <p class="">COVID 19 HELPLINE</p>
            </div>
            <div class="d-inline-block">
                    <span class="float-right">
XXXXXXXX
                    </span>
            </div>
            <div class="d-inline-">
                <p class="">Government Initiatives</p>
            </div>
            <div class="d-inline-block">
                    <span class="float-right">
<a href="" > Click Here</a>
                    </span>
            </div>
                                   </form>
                                </div>

                        </div>
                        </div>
                        <hr>
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Need Help?</h4>
                                    </div>
                                    <div class="panel-body">
                                        <center>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Food</button>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Medicine</button>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Shelter</button> </center>
<br>
<center>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Clothing</button>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Medical Equipments</button>
<button type="button" class="btn btn-default btn-lg btn-primary-spacing">Other</button> </center><br>
 <a href="volunteer"><button type="button" class="btn btn-default btn-lg btn-block">I Want to Volunteer</button></a> </center>
 <hr>
                                                                    </div>
                                </div>
                                
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Do you provide help ?</h4>
                                    </div>
                                    <div class="panel-body">
                                        <center>
 <a href="ngo-register"><button type="button" class="btn btn-default btn-lg btn-block">Register NGO</button></a> </center><br>
 <a href="grp-register"><button type="button" class="btn btn-default btn-lg btn-block">Register Group</button></a> </center><br>
 <a href="need-vol"><button type="button" class="btn btn-default btn-lg btn-block">Need Volunteer</button></a> </center><br>
                                    
                                    </div>
                                </div>
                                
                                <a href="join-us"><button type="button" class="btn btn-default btn-lg btn-block">Want to be part of this Initiative?</button></a> </center><br>
<style>
    .btn-primary-spacing 
{
margin-right: 10px !important;
}
</style>

{% endblock %}