{% extends 'pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active"></li>
                    </ol>
                </div>
								
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">I Want to Volunteer</a>
<p>If you wish to provide a helping hand kindly tap on any below mentioned task and fill the consent form</p> </div> </div>
								
								 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                    <div class="panel-body">

<h4>Volunteering tasks around your locality</h4>

<h4>Tasks</h4>
<p>Food Distribution:</p>
<p>Collect clothes from nearby area:</p>
<p>Need mini truck to transport food:</p>
	</div>
                                </div></div>
{% endblock %}