{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Apply</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Collect Food from nearby areas</a>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">
                                    <div class="form-group">
									<label for="name"><strong>Name: </strong></label>
                                    
                                    </div>
                                    <div class="form-group">
									<label for="email"><strong> Email address: </strong></label>
                                    
                                    </div>
                                    
                                    <div class="form-group">
									<label for="pincode"><strong> Pin Code: </strong></label>
                                    
                                    </div>
							
									<div class="form-group">
									<label for="message"><strong> Message (Optional): </strong></label>
									
<textarea class="form-control" rows="5" id="comment"></textarea>
                                        
                                    </div>


                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}