{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active"></li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Couldn't get the required help?</a>
                                <p class="text-center m-t-md">
If you or anyone around ypu need any kind of help, kindly reach out to us with your details and we will raise a request with NGOs/Groups active in your area</p>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">

                                    <div class="form-group">
									<label for="name">Name: </label>
                                        <input type="text" class="form-control" placeholder="Enter Full Name" required>
                                    </div>

									<div class="form-group">
									<label for="govt-id">Any Government ID:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>


									<div class="form-group">
									<label for="whom">Who are you seeking help for? </label>
                                        <select id="gender" name="gender" class="form-control m-b-sm" required>
                                                    <option selected >--- Select ---</option>
                                                    <option value="self" >Self</option>
                                                    <option value="associated">Someone closely associated others</option>
                                                 <option value="other">Others</option>
                                                </select>
                                    </div>
									<div class="form-group">
									<label for="number">Phone Number: </label>
									<div class="input-group m-b-sm">
                                                    <span class="input-group-addon" id="code">+91</span>
                                                    <input type="number" min="10" max="10" class="form-control" placeholder="Enter your Number">
                                                </div>
</div>

									<div class="form-group">
									<label for="pincode">Location (Where you operate): </label>
                                        <input type="number" class="form-control" placeholder="Enter Pincodes" required>
                                    </div>

									<div class="form-group">
									<label for="address">Address (in brief): </label>
                                        <input type="text" class="form-control" placeholder="Locality/District/State">
                                    </div>

									<div class="form-group">
									<label for="services">What Services do you provide: </label>
                                        <select id="services" name="services" class="form-control m-b-sm" required>
                                                    <option selected >--- Select Services ---</option>
                                                    <option value="food" >Food</option>
                                                    <option value="clothing">Clothing</option>
                                                 <option value="shelter">Shelter</option>

<option value="medicines" >Medicines</option>
                                                    <option value="equipment">Medical Equipments</option>
                                                 <option value="other">Others</option>

</select>
                                    </div>

									<div class="form-group">
									<label for="message"> Message:</label>
									
<textarea class="form-control" rows="5" id="comment" required></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}