{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Group Register</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Group Registration</a>
                                <p class="text-center m-t-md">	
If you are a Group/Individual providing support amid COVID-19 crisis and need volunteers to join your efforts, kindly fill this form</p>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">
                                    <div class="form-group">
									<label for="email">Email address: </label>
                                        <input type="email" class="form-control" placeholder="Enter Email" required>
                                    </div>
                                    <div class="form-group">
									<label for="name">Name of the Group: </label>
                                        <input type="text" class="form-control" placeholder="Enter the Group Name" required>
                                    </div>

									<div class="form-group">
									<label for="govt-id">Any Government ID (of amy designated member)</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
									<div class="form-group">
									<label for="number">Phone Number: </label>
									<div class="input-group m-b-sm">
                                                    <span class="input-group-addon" id="code">+91</span>
                                                    <input type="number" min="10" max="10" class="form-control" placeholder="Enter your Number" required>
                                                </div>
</div>
									<div class="form-group">
									<label for="website">Website: </label>
                                        <input type="text" class="form-control" placeholder="Enter Website URL (if any)">
                                    </div>
									<div class="form-group">
									<label for="social">Social Media handles: </label>
                                        <input type="text" class="form-control" placeholder="Facebook/Twitter/Instagram/etc">
                                    </div>

									<div class="form-group">
									<label for="pincode">Location (Where you operate): </label>
                                        <input type="number" class="form-control" placeholder="Enter Pincodes" required>
                                    </div>
									<div class="form-group">
									<label for="services">What Services do you provide: </label>
                                        <select id="services" name="services" class="form-control m-b-sm" required>
                                                    <option selected >--- Select Services ---</option>
                                                    <option value="food" >Food</option>
                                                    <option value="clothing">Clothing</option>
                                                 <option value="shelter">Shelter</option>

<option value="medicines" >Medicines</option>
                                                    <option value="equipment">Medical Equipments</option>
                                                 <option value="other">Others</option>
                                                 
                                                </select>
                                    </div>
									<div class="form-group">
									<label for="address">Address: </label>
                                        <input type="text" class="form-control" placeholder="Address" required>
                                    </div>

									<div class="form-group">
									<label for="about">About the Group: </label>
                                        <input type="text" class="form-control" placeholder="Tell us About the Group">
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}