{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Join Us</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Want to part of this Initiative?</a>
                                <p class="text-center m-t-md">Please fill below form</p>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">
                                    <div class="form-group">
									<label for="email">Email address: </label>
                                        <input type="email" class="form-control" placeholder="Enter your Email" required>
                                    </div>
                                    <div class="form-group">
									<label for="name">Full Name: </label>
                                        <input type="text" class="form-control" placeholder="Enter Full Name" required>
                                    </div>
									<div class="form-group">
									<label for="number">Phone Number: </label>
									<div class="input-group m-b-sm">
                                                    <span class="input-group-addon" id="code">+91</span>
                                                    <input type="number" min="10" max="10" class="form-control" placeholder="Enter your Number">
                                                </div>
</div>

									<div class="form-group">
									<label for="pincode">Enter Pincode: </label>
                                        <input type="number" min="6" max="6" class="form-control" placeholder="Enter Pincode" required>
                                    </div>

									<div class="form-group">
									<label for="age">Enter Age: </label>
                                        <input type="number" class="form-control" placeholder="Enter Age" required>
                                    </div>

									<div class="form-group">
									<label for="gender">Gender: </label>
                                        <select id="gender" name="gender" class="form-control m-b-sm" required>
                                                    <option selected >--- Select Gender ---</option>
                                                    <option value="male" >Male</option>
                                                    <option value="female">Female</option>
                                                 <option value="other">Other</option>
                                                </select>
                                    </div>

                                    <div class="form-group">
									<label for="profile">Enter Current Profile: </label>
                                        <input type="text" class="form-control" placeholder="Working Professional/Student/Home Maker/Others" required>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}