{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Need Volunteers</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Need Volunteers</a>
                                <p class="text-center m-t-md">
If you are a NGO providing support amid COVID-19 crisis and need volunteers to join your efforts, kindly fill this form</p>
                                    <div class="panel-body">
								<form class="m-t-md" action="volunteer">

									<div class="form-group">
									<label for="address">Location (Where you operate): </label>
                                        <input type="text" class="form-control" placeholder="Enter Address" required>
                                    </div>
									<div class="form-group">
									<label for="pincode">Enter Pincode: </label>
                                        <input type="number" min="6" max="6" class="form-control" placeholder="Enter Pincode" required>
                                    </div>

									<div class="form-group">
									<label for="task-brief">Task in brief: </label>
                                        <input type="text" class="form-control" placeholder="" required>
                                    </div>

									<div class="form-group">
									<label for="task-details">Task Details: </label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>

									<div class="form-group">
									<label for="vol-size">No. of Volunteers: </label>
                                        <input type="number" class="form-control" placeholder="" required>
                                    </div>

									<div class="form-group">
									<label for="domain_ques">Duration for how long Volunteers are needed: </label>
                                        <input type="text" class="form-control" placeholder="specify months/weeks" required>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                                </form>
								</div>
                                </div>
								</div>
{% endblock %}