{% extends '/pages/base.html' %}

{% block content %}
                                <div class="page-inner">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb container">
                        <li><a href="/">Home</a></li>
						<li class="active">Register</li>
                    </ol>
                </div>
				 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                <a class="logo-name text-lg text-center">Register</a>
                                <p class="text-center m-t-md">Create a account</p>
                                    <div class="panel-body">
								<form class="m-t-md" action="register">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <label>
                                        <input type="checkbox"> Agree the terms and policy
                                    </label>
                                    <button type="submit" class="btn btn-success btn-block m-t-xs">Submit</button>
                                    <p class="text-center m-t-xs text-sm">Already have an account?</p>
                                    <a href="login" class="btn btn-default btn-block m-t-xs">Login</a>
                                </form>
								</div>
								</div>
                                </div>
{% endblock %}