{% extends "admin/ngo/ngo.html" %}
{% block title %}
								 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                    <div class="panel-body">

<h4>Active Tasks</h4>
<p>Food Distribution:</p>
<p>Collect clothes from nearby area:</p>
<p>Need mini truck to transport food:</p>
	</div>
                                </div></div>
								 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">
                                    <div class="panel-body">

<h4>Completed Tasks</h4>
<p>Food Distribution:</p>
<p>Collect clothes from nearby area:</p>
<p>Need mini truck to transport food:</p>


								</div>
                                </div>
{% endblock %}