{% extends "admin/ngo/ngo.html" %}
{% block title %}
								 <div class="panel col-md-3 center panel-white">
                                    <div class="login-box">

                                    <div class="panel-body">

<h4>Name:</h4>
<h4>Registration No:</h4>
<h4>Branch:</h4>
<h4>Phone No:</h4>
<h4>Email ID:</h4>
<h4>Website:</h4>
<h4>Social Media Handle:</h4>
<h4>What Services We Provide:</h4>
<h4>Location where you operate:</h4>

								</div>
                                </div>
{% endblock %}